.homeStyle{
    align-items: center;
    justify-content: center;
}

.productHome{
    color: #ff99c8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.productsListHome { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: aliceblue;
    margin: 100px;
}

.img{
    max-width: 300px;
}