.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a9def9;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content:flex-start;
    font-size: calc(10px + 2vmin);
    color: aliceblue;
}

#button{
    color: aliceblue;
    background-color: #a9def9;
    border-style: solid;
    border-color: transparent;
    padding: 20px;
}

#button:hover{
    background-color:#fcf6bd;
    color: #ff99c8;
    font-style: normal;
}

#buttonDrop{
    color: aliceblue;
    background-color: #a9def9;
    border-style: solid;
    border-color: transparent;
    padding: 25px;
    font-size:larger;
}

#buttonDrop:hover{
    color: #ff99c8;
    background-color: #fcf6bd;
    border-style: solid;
    border-color: transparent;
    padding: 25px;
    font-size:larger;
    font-style: normal;
}