.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #303778;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content:flex-start;
    font-size: calc(10px + 2vmin);
    color: #7D257D;
}

#button{
    color: white;
    background-color: #303778;
    border-style: solid;
    border-color: transparent;
    padding: 20px;
}

#button:hover{
    background-color:#F6B7CE;
    color: #303778;
    font-style: normal;
}

#buttonDrop{
    color: white;
    background-color: #303778;
    border-style: solid;
    border-color: transparent;
    padding: 25px;
    font-size:larger;
}

#buttonDrop:hover{
    color: #303778;
    background-color: #F6B7CE;
    border-style: solid;
    border-color: transparent;
    padding: 25px;
    font-size:larger;
    font-style: normal;
}